body {
	background-image: url(../images/66.jpg);
	display: flex;
	margin: 0;
}

#nav {
	/*	display: flex;*/
	/*	justify-content: space-between;*/
	margin-top: 20px;
	width: 45%;
}

#players {
	margin: 20%;
}

#players table {
	border: 1px solid !important;
	border-collapse: collapse;
	width: 70%;
}

#popup {
	display: none;
	position: absolute;
	top: 40%;
	left: 25%;
	right: 25%;
	padding: 20px;
	background-color: antiquewhite;
	color: red;
	border: 1px solid;
	z-index: 10;
}

#controls {
	margin: 0 20%;
}

#players th,
#players td {
	border: 1px solid;
}

canvas {
	border: 5px solid #ffffff;
	position: absolute;
	/*
	left: 25%;
	top: 0px;
*/
}

#diceName {
	margin: 0;
	font-size: 50px;
	font-weight: bold;
}

#diceControl {
	cursor: pointer;
}
